*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  --fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--fonts);
  --gradient-background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,34,121,1) 35%, rgba(0,212,255,1) 100%);
  --nav-width: 80%;
  --light-grey-shadow: 0px 6px 3px rgba(50, 50, 0, 0.1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
header{
    filter: drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
}
.header-wrapper{
  
    
    display: flex;
    padding: 4rem;
    margin:0;
    position:relative;

    
}

.header-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index:-1;
    background:var(--gradient-background);
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
  }

.header-image{
    overflow: visible;
    position:relative;
    max-width: 750px;
    object-fit: contain;
    padding-block: 2rem;
    padding-inline: 1rem;
    box-shadow: var(--light-grey-shadow);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.header-image > img{
    object-fit: contain;
}

.header-image::after{
  content:'Mr. Penguin';
  display:flex;
  position:absolute;
  
  font-size:4rem;
  text-align: center;
}

.header-container{
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--light-grey-shadow);
    align-self: center;
    max-width: 70ch;
    
}

.header-container p,h2{
    margin:1rem;
}

h2{
  font-weight: 900;
  font-size:2rem;
}

.header-container p{
  font-size: 1.25rem;
}
.big_icons{
    display:flex;
    gap:1rem;
    justify-content: end;
    padding:2rem 1rem 2rem 1rem;
    
}

.big_icons > svg{
    width:1.25rem;
    

}
.big_icons_bottom > svg{
  width:1.5rem;
  
}

.big_icons_bottom{
  display:flex;
    gap:1rem;
    justify-content: start;
    padding:2rem 1rem 2rem 1rem;
}
.tiny-icons{
  display:flex;
  gap:1rem;
  
  margin:5px;
}
.tiny-icons1 svg{
    width:1.5rem;
    display:inline;
    fill:white;
    vertical-align: center;
    margin-inline-end: 10px;
}

.card_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    
    padding-block-end: 5rem;
}

.card{
    margin:50px;
    box-shadow: var(--light-grey-shadow);
    padding-block-end: 0px;
}


h3{
  font-size: 1.5rem;
  margin-inline-start: 0.5rem;
}


.card_title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_title svg{
width:1.5rem;
}

.card_text > p{
    margin:10px;
    padding-block-end: 50px;
}
.footer-wrapper{
  /* display:grid;
  grid-template-columns: 0.8fr 1fr; */
  display:flex;
  flex-grow: 0;
  background: var(--gradient-background);
  color:white;
}

.footer-container{
  padding-inline: 1rem;
  padding-block:1rem;
  margin:1rem;
  height: 10%;
}
.bottom-image{
    max-width: 750px;
    object-fit: contain;
    padding-block: 2rem;
    padding-inline: 1rem;
}
.footer-container p{
  padding-block-end:1.5rem;
  font-size: 1.25rem;
}

@media (max-width: 1300px) {
  .header-image{
    display:inline-;
  }
}

@media (max-width:500px) {
  body, .header-container, .card_container, .footer-container, .footer-wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .bottom-image{
    padding:0;
  }

  .tiny-icons1{
    display:none;
  }

  .big_icons_bottom{
    margin:auto;
    
  }

  .big_icons_bottom > svg{
    width:3rem;
    margin-inline: 1rem;
  }

  .footer-container > h2{
    font-size: 3rem;
  }

  .footer-container > p {
    font-size: 2rem;
  }
  .card p{
    font-size: 2rem;
  }

  .card h3 {
    font-size: 3rem;
  }
  .card svg{
    width:3rem;
  }

  h2{
    text-align: center;
  }
  .header-container{
    background: none;
  }
  .header-container img{
    width:100%;
    height:100%;
  }
}