*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  --fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--fonts);
  
  --nav-width: 80%;
  --light-grey-shadow: 5px 5px 5px black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
header{
    filter: drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
}
.header-wrapper{
  
    
    display: flex;
    padding: 4rem;
    margin:0;
    /* background:lime; */
    position:relative;
    /* z-index: 1000; */
    /* clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%); */
    
}

.header-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index:-1;
    background-color: blue;
    clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
  }

.header-image{
    overflow: visible;
    position:relative;
    max-width: 50%;
    box-shadow: var(--light-grey-shadow);
    
}
.header-image > img{
    object-fit: contain;
}
.header-image >h1{
    position:absolute;
    bottom:50%;
    left:50%;
    
}
.header-container{
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--light-grey-shadow);
    align-self: center;
}

.header-container p,h2{
    margin:1rem;
}
.big_icons, .tiny-icons{
    display:flex;
    gap:1rem;
    justify-content: end;
    
}

.big_icons > svg{
    width:1rem;
    margin:5px;

}

.tiny-icons > svg{
    width:0.8rem;
    margin:5px;
}

.card_container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
    gap:5%;
}

.card{
    margin:50px;
    box-shadow: var(--light-grey-shadow);
    padding-block-end: 50px;
}

.card_title{
    display:flex;
    justify-content: space-between;
    margin: 10px;
}

.card_text > p{
    margin:10px;
    padding-block-end: 50px;
}

.bottom-image{
    width:100px;
}
